html {
  scroll-behavior: smooth;
  /* https://css-tricks.com/snippets/jquery/smooth-scrolling/ */
}

body{
  padding: 1px 0;
  margin-left: 0px;
  background-color:black;

}

.buttonposition{
position:relative;
left: 300px;
top: 300px;
}

  .textType1 {
  color: purple;
  text-shadow: 3px 3px pink;
  font-size: 30px;
  /* font-style: sans-serif; */
}

  .textType2 {
    color: cyan;
    text-shadow: 1px 1px pink;
    font-size: 15px;
  }

  .textType{
    color: pink;
    text-shadow: 1px 1px purple;
    font-size: 30px;
    font-family: Chalkduster, fantasy;
  }

  a.textsty{
font-family: 'Brush Script MT', cursive;
font-size: 25px;
  }

a.highlight:hover {
    color: lime;
    font-size: 25px;
  }

  /* a.highlight2:hover {
      color: lime;
      font-size: 20px;
    } */

a.highlight{
    /* font-size: 15px; */
    color:blue;
    text-decoration: none;
    margin-right: 40px;
}

a.highlight:last-child{
  margin-right: 0px;
}

.center{
      text-align: center;
}

.btnTest {
  background: #c334db;
  background-image: -webkit-linear-gradient(top, #c334db, #0f4f88);
  background-image: -moz-linear-gradient(top, #c334db, #0f4f88);
  background-image: -ms-linear-gradient(top, #c334db, #0f4f88);
  background-image: -o-linear-gradient(top, #c334db, #0f4f88);
  background-image: linear-gradient(to bottom, #c334db, #0f4f88);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: white;
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.btnTest:hover {
  background: #cfe2f3;
  background-image: -webkit-linear-gradient(top, #cfe2f3, #3498db);
  background-image: -moz-linear-gradient(top, #cfe2f3, #3498db);
  background-image: -ms-linear-gradient(top, #cfe2f3, #3498db);
  background-image: -o-linear-gradient(top, #cfe2f3, #3498db);
  background-image: linear-gradient(to bottom, #cfe2f3, #3498db);
  text-decoration: none;
}

/* #respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
} */
